# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# System / IDE files
.system_generated/
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.db
*.sqlite3
